{% extends "index.html" %} {% block title %}Edit Gradebook{% endblock %} {%
block head %}
<link rel="stylesheet" type="text/css" href="../../static/formsection.css" />
{{ super() }} {% endblock %} {% block content %}
<!--Form to Add a New Student-->
<div class="container">
  <h2 class="text-center">Add Students Records</h2>
</div>
<section id="cover">
  <div id="cover-caption">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
          <div class="px-2">
            <form
              id="createstudent"
              class="justify-content-center"
              action="/addstudent"
              method="POST"
            >
              <div class="form-group">
                <label for="usr"><strong>First Name:</strong></label> <span class="required">*</span>
                <input
                  type="text"
                  class="form-control"
                  id="student_fname"
                  placeholder="Walter"
                  name="fname"
                />
              </div>
              <div class="form-group">
                <label for="usr"><strong>Last Name:</strong></label> <span class="required">*</span>
                <input
                  type="text"
                  class="form-control"
                  id="student_lname"
                  placeholder="White"
                  name="lname"
                />
              </div>
              <div class="form-group">
                <label for="usr"><strong>ID:</strong></label> <span class="required">*</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="CCXXXX"
                  id="student_id"
                  name="id"
                />
              </div>
              <div class="form-group">
                <label for="usr"><strong>Email:</strong></label> <span class="required">*</span>
                <input
                  type="text"
                  class="form-control"
                  id="student_email"
                  placeholder="xyz@umbc.edu"
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="usr"><strong>Major:</strong></label> 
                <input
                  type="text"
                  class="form-control-plaintext"
                  id="major"
                  name="major"
                  value="Information Systems"
                />
              </div>
              <div class="form-group">
                <label for="sclass"><strong>Roster:</strong></label> <span class="required">*</span>
                <select class="form-control" name="rosteroptions">
                  <option value="">Select</option>
                  {% for item in rosterlist %}
                  <option value="{{item.id}}">{{item.roster_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="sclass"><strong>Class:</strong></label> <span class="required">*</span>
                <select class="form-control" name="classoptions">
                  <option value="">Select</option>
                  {% for item in classlist %}
                  <option value="{{item.id}}">{{item.class_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <button
                type="submit"
                name="submit"
                class="btn btn-secondary"
                value="cancel"
              >
                Cancel
              </button>
              <button
                type="submit"
                name="submit"
                value="submit"
                class="btn btn-success"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $(function () {
      $('#createstudent').validate({
        // Specify validation rules
        rules: {
          fname: 'required',
          lname: 'required',
          email: {
            required: true,
            email: true,
          },
          id: 'required',
          rosteroptions: {
            required: true,
          },
          classoptions: {
            required: true,
          },
        },
        // Specify validation error messages
        messages: {
          fname: 'Please enter your firstname',
          lname: 'Please enter your lastname',
          id: 'Please enter id',
          email: 'Please enter a valid email address',
          rosteroptions: 'Please select a Roster',
          classoptions: 'Please select a Class',
        },
        submitHandler: function (form) {
          form.submit();
        },
      });
    });
  });
</script>
<div>
  <i>*Disclaimer: All fields are required</i>
</div>
{% endblock %}
