#cover {
  height: 100%;
  text-align: left;
  display: inline;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}
.error {
  color: red;
}

.required {
    color: #e32;
    display: inline;
}